<div class="p-10 ">
    <div class="flex justify-between items-center">
      <div>
        <p class="text-3xl text-slate-200">CONTENIDO DE INGRESOS</p>
      </div>
      <div class="flex ">
        <h3> Total de Ingresos: {{ cantidadIngreso }}</h3>
        <input  [(ngModel)]="DB_CONTROL" (keyup)="GET_UNIT()" type="text" placeholder="Busqueda por ID" class="mx-5 input input-bordered bg-zinc-600"  />
        <button class="btn flex-row bg-zinc-700" onclick="my_modal_1.showModal()">
          <p>Agregar</p>
        </button>
      </div>
    </div>
    <div class="mt-4 ">
      <hr>
    </div>
    <div class="overflow-x-auto mt-4 bg-slate-800 rounded-xl">
      <table class="table text-xl">
        <thead>
          <tr class="text-xl">
            <th></th>
            <th>ID</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th>Monto</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of datos; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{dato.id}}</td>
            <td>{{dato.estado}}</td>
            <td>{{dato.fecha}}</td>
            <td>{{dato.descripcion}}</td>
            <td>{{dato.monto}}</td>
            <td>{{dato.categoria}}</td>
            <td class="text-center">
              <button class="btn m-4 bg-teal-700 hover:bg-teal-600" (click)="GET_ACTUALIZED(dato)" onclick="my_modal_2.showModal()">Modificar</button>
              <button class="btn m-4  bg-purple-900 hover:bg-purple-800" (click)="DELETED(dato.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <dialog id="my_modal_1" class="modal">
      <form method="dialog" class="modal-box" (ngSubmit)="POST()">
        <!-- Campos del formulario -->
        <h3 class="font-bold text-lg"> >>AGREGAR INGRESO<< </h3>
        <input [(ngModel)]="newRegistro.fecha" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Fecha">
        <input [(ngModel)]="newRegistro.descripcion" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Descripcion">
        <input [(ngModel)]="newRegistro.monto" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder=" Monto">
        <input [(ngModel)]="newRegistro.categoria" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Categoria">
        <button class="btn" type="submit">Enviar</button>
        <p class="py-4">Press Scape ESC</p>
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <dialog id="my_modal_2" class="modal">
      <form method="dialog" class="modal-box" (ngSubmit)="PUT(editRegister)" >
        <!-- Campos del formulario -->
        <h3 class="font-bold text-lg"> -- MODIFICAR INGRESO -- </h3>
        <input [(ngModel)]="editRegister.fecha" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Fecha">
        <input [(ngModel)]="editRegister.descripcion" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Descripcion">
        <input [(ngModel)]="editRegister.monto" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Monto">
        <input [(ngModel)]="editRegister.categoria" [ngModelOptions]="{ standalone: true }" class="m-2 p-2" type="text" placeholder="Categoria">
       <button class="btn" type="submit">Enviar</button>
        <p class="py-4">Press Scape ESC</p>
      </form>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
  
  </div>