<div class="hero min-h-screen " style="background-image: url(https://daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w">
        <h1 class="mb-5 text-8xl font-bold">¡Bienvenidos a TECAFinanzas, donde las finanzas son divertidas! </h1>
        <p class="mb-6 text-3xl">Tenemos funciones para usuarios, ingresos de otro mundo, transacciones sorprendentes y cuentas bancarias llenas de oro y dinero.</p>
        <button (click)="navigateToPage('Home/Usuario')" class="btn btn-primary">EMPECEMOS!!!!</button>
      </div>
    </div>
  </div>